@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Reset */
* {
  box-sizing: border-box;
}

body {
  background: url('templates/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Section Styles */
.section {
  display: none;
  margin-top: 5%;
  padding: 2%;
  border: 3px solid blue;
  border-radius: 10px;
}
#about {
  display: block;
}

/* Main Content Styles */
#main-content.menu-closing {
  transition: margin-left 0.3s ease-in-out 0.6s;
}

.menu-open #main-content {
  margin-left: 22%;
  transition: margin-left 0.3s ease-in-out;
}

/* Image Styles */
.my-foto {
  width: 200px;
  border-radius: 50%;
}

/* Button Styles */
.my-nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Navigation Styles */
.my-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.my-nav.visible {
  transform: translateX(0);
}

.my-nav-green,
.my-nav-yellow,
.my-nav-blue,
.my-nav-white {
  width: 95%;
}

.my-nav-green {
  background-color: rgb(94, 255, 0);
  width: 60%;
  max-width: 320px;
  min-width: 160px;
  transition-delay: 0.6s;
}

.my-nav-green.visible {
  transition-delay: 0s;
}

.my-nav-yellow {
  background-color: rgb(255, 238, 0);
  transition-delay: 0.4s;
}

.my-nav-yellow.visible {
  transition-delay: 0.2s;
}

.my-nav-blue {
  background-color: #0044ff;
  transition-delay: 0.2s;
}

.my-nav-blue.visible {
  transition-delay: 0.4s;
}

.my-nav-white {
  background-color: #ffffff;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
}

.my-nav-white.visible {
  transition-delay: 0.6s;
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
}

/* List Styles */
.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

#projectList,
#projectList ul,
.certifications-list,
.certifications-list ul {
  margin: 0;
  padding: 0;
}

#projectList li,
.certifications-list li {
  margin: 20px 0;
  padding-left: 20px;
}

#projectList li:first-child,
.certifications-list li:first-child {
  margin-top: 0;
}

#projectList li:last-child,
.certifications-list li:last-child {

  margin-bottom: 0;
}

/* Text Styles */
#text {
  display: flex;
  justify-content: center;
}

#text::after {
  content: '|';
  animation: blink 1s infinite;
}

/* Contact Link Styles */
.contact-me-link {
  display: flex;
  align-items: center;
  color: black;
  margin-top: 1%;
}

.contact-me-img,
.skill-icon {
  width: 50px;
  height: 50px;
}

.skill-icon {
  margin: 2%;
}

#contact img {
  margin-right: 1%;
}

/* Project List Styles */
#projectList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Certtification List Styles */
#certificationsList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.my-line {
  width: 50%;
  border: 1px solid blue;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1%;
}

.certifications-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 163px;
  background-color: rgb(255, 255, 255);
  border-right: blue solid 2px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#projects-card-body {
  min-height: 390px;
}

.card {
  border: blue solid 2px !important;
}

/* Animation */
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .my-nav-white {
    padding: 20px;
  }

  .close-btn {
    top: 20px;
    right: 20px;
  }

  .menu-open #main-content {
    margin-left: 0;
  }
}