:root {
  --bordercolor: #0044ff; /* also the third nav color*/
  --textcolor: black;
  --marginprojectcards: 2%;
  --firstnavcolor: rgb(94, 255, 0);
  --secondnavcolor: rgb(255, 238, 0);
  --mainpagecolor: white;
}

body{
  color: var(--textcolor);
  background-color: var(--mainpagecolor);
  overflow: hidden;
}
.fa-bars{
  color: var(--textcolor);
}
#header {
  position: relative;
}

/* Main Content Styles */
#main-content.menu-closing {
  transition: margin-left 0.3s ease-in-out 0.6s;
}

.menu-open #main-content {
  margin-left: 22%;
  transition: margin-left 0.3s ease-in-out;
}

/* Image Styles */
.my-foto {
  width: 200px;
  border-radius: 50%;
}

/* Button Styles */
.my-nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Navigation Styles */
.my-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.my-nav.visible {
  transform: translateX(0);
}

.my-nav-green,
.my-nav-yellow,
.my-nav-blue,
.my-nav-white {
  width: 95%;
}

.my-nav-green {
  background-color:var(--firstnavcolor);
  width: 60%;
  max-width: 320px;
  min-width: 160px;
  transition-delay: 0.6s;
}

.my-nav-green.visible {
  transition-delay: 0s;
}

.my-nav-yellow {
  background-color: var(--secondnavcolor);
  transition-delay: 0.4s;
}

.my-nav-yellow.visible {
  transition-delay: 0.2s;
}

.my-nav-blue {
  background-color: var(--bordercolor);
  transition-delay: 0.2s;
}

.my-nav-blue.visible {
  transition-delay: 0.4s;
}

.my-nav-white {
  background-color: var(--mainpagecolor);
  padding: 30px;
  position: relative;
  transition-delay: 0s;
  overflow-y: auto;
}

.my-nav-white.visible {
  transition-delay: 0.6s;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* List Styles */
.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: var(--textcolor);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

#projectList,
#projectList ul,
.certifications-list,
.certifications-list ul {
  margin: 0;
  padding: 0;
}

#projectList li,
.certifications-list li {
  margin: 20px 0;
  padding-left: 20px;
}

#projectList li:first-child,
.certifications-list li:first-child {
  margin-top: 0;
}

#projectList li:last-child,
.certifications-list li:last-child {

  margin-bottom: 0;
}

/* Project List Styles */
#projectList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Certtification List Styles */
#certificationsList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Image Styles */
.my-photo {
  width: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {

  .my-photo {
    max-width: 125px;
    height: auto;
  }
}

/* Text Styles */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 40px;
  position: relative;
  margin-inline: 10%;
}

#title::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 20px;
  }
}

/* Animation */
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*Desktop*/
@media screen and (min-width: 769px) {
  #main-content {
    transition: margin-left 0.3s ease-in-out;
  }
}

/*Mobile*/
@media screen and (max-width: 768px) {
  #main-content {
    margin-left: 0 !important;
  }
}

/* Main Content Styles */
#main-content.menu-closing {
  transition: margin-left 0.3s ease-in-out 0.6s;
}

.menu-open #main-content {
  margin-left: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  border: 2px solid var(--bordercolor);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--mainpagecolor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2%;
  flex: 1;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 85vh;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 5%;
    min-height: 60vh;
  }
}

.content h2 {
  margin-bottom: 2%;
}

.skill-icon {
  width: 10%;
  margin: 1%;
}

.line {
  border: 0;
  height: 3px;
  background: var(--bordercolor);
  margin-bottom: 2%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.507);
  width: 50%;
}

.skill-info {
  margin-top: 2%;
}

@media screen and (max-width: 768px) {

  .skill-icon {
    width: 15%;
  }

  .line {
    width: 90% !important;
    margin-bottom: 5%;
  }

  #skills h4 {
    font-size: 15px;
    margin-bottom: 1%;
    margin-top: 5%;
  }

  .skill-info {
    transform: scaleY(2.0);
    width: auto;
    height: 200px;
  }
}

.graduations-card {
  height: 145px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.507);
  border: 2px solid var(--bordercolor);
  border-radius: 2%;
  overflow: hidden;
}

.graduations-card-body {
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  margin-top: 2%;
}


.graduations-card-text,
.graduations-card-text-year {
  font-size: clamp(0.9rem, 4vw, 0.9rem);
  margin-top: auto;
}

@media (min-width: 768px) {
  .graduations-img {
    height: 141px;
  }
}

@media (max-width: 767px) {
  .graduations-card {
    height: auto;
    max-width: 100%;
  }

  .graduations-img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .graduations-card-body {
    height: auto;
    margin-inline: 5%;
  }

  .graduations-card-title {
    font-size: 1.2rem;
  }

  .graduations-card-text,
  .graduations-card-text-year {
    font-size: 1rem;
  }
}

.project-cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.507);
  border: 2px solid var(--bordercolor);
  border-radius: 2%;
}

.project-cards-video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.project-cards-video-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
}

.project-cards-body {
  overflow: hidden;
  margin: var(--marginprojectcards);
  
}

.project-cards-text{
  max-height: 150px;
  overflow-y: auto;
  padding-right: 5%;
}

.project-cards-footer, .project-cards-footer-links {
  overflow: hidden;
  margin: var(--marginprojectcards);
}

.project-cards-footer-links{
  margin-top: auto;
}
.project-cards-footer-images {
  justify-content: space-between;
}

.project-cards-footer-img {
  margin: 1%;
}

.project-cards-footer-lnk {
  width: 100%;
  height: 30px;
  border-radius: 5%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-cards-footer-lnk:hover {
  transform: scale(1.1);
}